.header {
  background-color: var(--header-background);
  display: flex;
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-700);
}

.header img {
  height: 3rem;
}