/* Estilo base - Desktop */
.wrapper {
  max-width: 46rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 2rem
}

.newText {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.newText input {
  width: 100%;
  background: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 1rem;
  transition: box-shadow 0.2s;
  border: 1px solid var(--gray-600);
}

.newText input:focus {
  color: #000000;
  outline: none;
  box-shadow: 0 0 0 2px var(--blue-300);
}

.newButton {
  width: auto;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(140deg, #4EA8DE, #8284FA);
  color: white;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background 0.1s;
}

.newButton:hover {
  background: linear-gradient(140deg, #5eb8ee, #9294fa);
}

.newButton:active {
  transform: scale(0.98);
}

.content {
  margin-top: 4rem;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentHeader strong {
  color: var(--blue-300);
  font-weight: bold;
  margin-right: 0.5rem;
}

.contentHeader span {
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  padding: 0.125rem 0.5rem;
  font-weight: bold;
}

.contentBox {
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin-top: 2rem;
  gap: 0.75rem;
}

.contentBox svg {
  margin-top: 4rem;
}

.contentBox strong {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.contentBox small {
  font-size: 1rem;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .wrapper {
    padding: 1rem;
    gap: 1rem;
  }

  .newText {
    flex-direction: column;
    align-items: stretch;
  }

  .newButton {
    width: 100%;
  }
}